<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Optimizing SQL Requests Interface </title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-brand" href="/home">Home</a>
      <a class="navbar-brand" href="/CreateRequest">Creer une Requete</a>
      <a class="navbar-brand" href="/requests">Requetes</a>
      <a class="navbar-brand" href="/about">A propos de nous</a>
      <a class="navbar-brand" href="/contact">Contacter nous</a>
      <a class="navbar-brand" href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16">connaissances SQL</a>
    </div>
  </div>
</nav>

<body>
<br>
<br>
  <div >
	<div class = "container-fluid">
		<div class ="row">
			<div class ="col-lg-6 col-md-6 container justify-content-center card">				
				
				<div class = "card-body" style="background-color: black;">
				  <h1 class = "text-center">Plan d'exécution de votre requte !</h1>
				  
                     <table class="table">
				    <tr>
		            <th>ID</th>
		            <th>select_type</th>
		            <th>table</th>
		            <th>partitions</th>
		            <th>type</th>
		            <th>possible_keys</th>
		            <th>key</th>
		            <th>key_len</th>
		            <th>ref</th>
		            <th>rows</th>
		            <th>filtered</th>
		            <th>Extra</th>
		             </tr>
		            <tr th:each="request : ${requests}">
		            <td th:text="${request.id_request}"></td>
                    
		            </tr>
				</table>
				</div>
				
				
<!-- 				<h1 class = "text-center">Votre requete après l'optimisation !</h1> -->
<!-- 				<div style="background-color: black; margin-bottom: 10%;"> -->
				
<!-- 				</div> -->
			</div>
		</div>
	</div>
</div>





</body>
<style>
body {
	 background-image: url('https://media.istockphoto.com/id/1257390249/vector/sql-database-vector-seamless-pattern.jpg?s=612x612&w=0&k=20&c=jTVDx3sxtSkhqJF7etbRxjb5r1W9S8gDrZtG6f1Tsso=');
}
p,h3,h1,th,td{
 color: white;
}

</style>
</html>